extends layout 

block head
    link(rel="stylesheet", href="about.css")

block content 
    div.about 
        h1#about-me Обо мне
        span 
            p Привет! Меня зовут [Ваше Имя], и я - технический евангелист, страстный обозреватель технологий и энтузиаст цифрового мира.
            b Путь в технологии:
            |  Мой путь в мир технологий начался с детства, когда я впервые увидел компьютер. Этот момент стал ключевым в моей жизни, вдохновив меня исследовать безграничные возможности программирования, разработки и творчества.
            | С годами мой интерес к технологиям привел меня к различным областям, от веб-разработки и искусственного интеллекта до разработки приложений и облачных технологий. Я стремлюсь не только следовать за инновациями, но и быть их частью, внедряя передовые технологии в повседневную жизнь.
            p 
            b Технический Евангелизм:
            |  В течение многих лет я был активным техническим евангелистом, делясь своим опытом и знаниями через лекции, блоги, и обучающие материалы. Моя миссия - вдохновлять и поддерживать сообщество технологических энтузиастов, помогая каждому найти свой путь в цифровом мире.
            p 
            b Проекты и Достижения:
            |  Моя деятельность также включает участие в различных проектах и событиях. Я с гордостью принимал участие в создании инновационных приложений, учебных платформ, а также выступал на множестве конференций и мероприятий по всему миру.
            p 
            b Наши Стратегии:
            |  Через мой сайт я стремлюсь создать пространство, где технологии становятся доступными и понятными для всех. Здесь вы найдете не только последние новости и тренды, но и увлекательные уроки, статьи и ресурсы для развития своих технических навыков.
            p 
            b Связь:
            |  Я всегда открыт для общения и обмена идеями. Не стесняйтесь связаться со мной для вопросов, консультаций или просто для обсуждения последних технологических новинок.
            | Присоединяйтесь к нашему технологическому путешествию! Давайте вместе делать мир лучше с помощью инноваций и креативности.
            | [Ссылка на социальные сети и контактные данные]