extends layout

block head
    link(rel="stylesheet", href="contact.css")

block content
    if reports 
        each report in reports 
            div 
                h6= report.subject 
                div= report.email 
                p= report.content
    else
        if status
            p Ваше сообщение успешно отправлено
        form(action="/reports", method="post").background
            input(type="email", placeholder="test@example.com", name="email", required).subject
            input(placeholder="Тема письма", type="text", name="subject", required).subject 
            textarea(placeholder="Введите текст", name="content", required).letter-text
            button.send-letter Отправить
