extends layout

block head
    link(rel="stylesheet", href="index.css")

block content
    div.index-container
        div.main-about-me
            h1#mainpage-header Приветствую в мире кода и технологий!
            p.mainpage-text Привет, я [Ваше Имя] – программист, инноватор и ваш надежный гид в мире бескрайних возможностей программирования. Добро пожаловать в цифровую сферу, где мы вместе создадим будущее!
            h3.mainpage-header Моя Миссия
            p.mainpage-text Моя миссия – вдохновлять и обучать. Я стремлюсь сделать программирование доступным каждому, вне зависимости от уровня опыта. Вместе мы разгадаем тайны кода, создадим инновационные проекты и освоим последние технологические тренды. Ключевые Направления
            h4.mainpage-header 1. Обучение и Развитие
            p.mainpage-text Будем вместе развиваться, исследовать новые технологии и методы программирования. Я предлагаю курсы и мастер-классы, которые помогут вам максимально раскрыть свой потенциал в мире кода.
            h4.mainpage-header 2. Проекты и Инновации
            p.mainpage-text Готовы создавать? Мы будем разрабатывать захватывающие проекты, от простых веб-сайтов до высокотехнологичных приложений. Учимся применять новые технологии и внедрять инновации в реальные проекты.
            h4.mainpage-header Блог и Ресурсы
            p.mainpage-text Мой блог – это источник полезной информации, свежих идей и личного опыта. Здесь вы найдете статьи, обзоры, решения сложных задач и многое другое.
            // h4.mainpage-header Связь и Контакты
            // p.mainpage-text Есть вопросы или идеи? Свяжитесь со мной! Я открыт для общения, готов помочь в решении проблем и поделиться знаниями.
        div.popular-article
            img(src="user-photo.jpeg" alt="User photo").mainpage-image
            h3.mainpage-header Популярная статья
            img(src="main-article-image.jpeg" alt="Article image").mainpage-image
            h3.mainpage-header Название статьи