html
  head
    title= title
    link(rel="stylesheet", href="/style.css")
    block head
  body
    div.container
        header
            div.logo 
              a(href="/") Логотип
            div.menu
                div.menu-item 
                  a(href="/blog") Блог
                div.menu-item
                  a(href="/about") Обо мне
                div.menu-item 
                  a(href="/materials") Учебные материалы
                div.menu-item 
                  a(href="/contact") Связь
                div.menu-item
                  if userId
                    a(href="/logout") Выйти
                  else 
                    a(href="/login") Войти
                // img(src="/user.png" alt="User").user-logo
        main
            block content 
        footer
            h3#social-media Мои соцсети
            div
                img(src="/github-icon.png" alt="Github icon")
                img(src="/telegram-icon.png" alt="Telegram icon")
                img(src="/vk-icon.png" alt="VK icon")
            h3#copyright © Copyright 2023, Имя Фамилия
