extends layout 

block head
    link(rel="stylesheet", href="materials.css")

block content 
    div.content 
        div
            h1 Книги
            h2 Книга 1
            p Tortor, et. Leo, et. Tempus 
            | in eleifend et integer velit habitasse
            | pulvinar sodales integer ultric ies
        div
            h1 Инструменты
            h2 Инструмент 1
            p Tortor, et. Leo, et. Tempus 
            | in eleifend et integer velit habitasse
            | pulvinar sodales integer ultric ies
        div
            h1 Лекции
            h2 Лекция 1
            p Tortor, et. Leo, et. Tempus 
            | in eleifend et integer velit habitasse
            | pulvinar sodales integer ultric ies