h1 {
    color: #777E15;
    text-align: center;
    font-family: Raleway;
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.article-content p {
    color: #000;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

article {
    text-align: start;
}

.article {
    width: 894px;
}

.article .image {
    width: 500px;
}

.container input {
    height: 40px;
}

.container textarea {
    height: 500px;
}

input, textarea {
	width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  
  border: 1px solid #777E15;
  background-color: #F7FCA8; 
  font-size: 16px;
  font-family: Arial, sans-serif;
  box-sizing: border-box; 
	resize: vertical;
}

input::placeholder {
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    }

.container button {
	
		background-color: #c5ce4d;
		color: #fff;
		padding: 15px 30px;
		border: none;
		border-radius: 5px;
		font-size: 16px;
		cursor: pointer;
		transition: background-color 0.3s ease;
	
}

.container button::hover {
  background-color: #a1a84f;
}


.user-comment {
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    display: flex;
    margin: 186px 0;
}

.user-photo {
    width: 116px;
    height: 112px;
    flex-shrink: 0;
}

#username {
    width: 100px;
    height: 34px;
    border-radius: 15px;
    background: #C6C6C6;
}

#article-comment {
    width: 1247px;
    height: 180px;
    border-radius: 15px;
    background: #C6C6C6;
    mix-blend-mode: darken;
}

.input-comment input {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background: #C6C6C6;
    width: 821px;
    height: 50px;
    flex-shrink: 0;
}

.like, .dislike {
    cursor: pointer;
}

.like img{
	width: 48px;
	height: 48px;
	
}

.dislike img{
	width:  48px;
	height: 48px;
	transform: rotate(180deg);
}

.file input{
	width: 300px;
	border: none;
}
.text textarea{
	min-height: 700px;
}