h1 {
    color: #777E15;
    text-align: center;
    font-family: Raleway;
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.article-content p {
    color: #000;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

article {
    text-align: start;
}

.article {
    width: 894px;
}

.article .image {
    width: 500px;
}

.container input {
    height: 40px;
}

.container textarea {
    height: 150px;
}

input, textarea {
	width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  
  border: 1px solid #777E15;
  background-color: #F7FCA8; 
  font-size: 16px;
  font-family: Arial, sans-serif;
  box-sizing: border-box; 
	resize: vertical;
}






input::placeholder {
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    }

.container button {
	
		background-color: #c5ce4d;
		color: #fff;
		padding: 15px 30px;
		border: none;
		border-radius: 5px;
		font-size: 16px;
		cursor: pointer;
		transition: background-color 0.3s ease;
	
}

.container button::hover {
  background-color: #a1a84f;
}


.input-comment button:hover{
	background-color: #a1a84f;
}

.like, .dislike {
    cursor: pointer;
		border-radius: 50%;
		display: flex;
    align-items: center;
		justify-content: center;
		width: 80px;
    height: 80px;
}


.like{
	background-color:#8aee47;
}

.dislike{

	background-color:#eb3a3a;
}
.like img{
	width: 48px;
	height: 48px;
	
}




.feedback{
	display: flex;
	justify-content:end;
}







.dislike img{
	width:  48px;
	height: 48px;
	transform: rotate(180deg);
}

.file input{
	width: 300px;
	border: none;
}
.text textarea{
	min-height: 700px;
}





.user-comment {
	background-color: #F7FCB8; /* Изменен цвет фона */
	border-radius: 8px;
	padding: 12px;
	margin-top: 20px;
	overflow: auto;
	font-family: Raleway;
	display: flex;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Добавлена тень */
}


.user-comment .user-photo {
	margin-right: 10px;
}

.user-comment .user-photo img {
	width: 50px; /* Adjust size as needed */
	height: 50px; /* Adjust size as needed */
	border-radius: 50%;
}

.user-comment .user-data {
	display: flex;
 /* Чтобы элементы выровнялись по вертикали */
	
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.user-comment #username {
	font-weight: bold;
	margin-right: 10px; /* Добавляем небольшой отступ между именем и текстом */
}

.user-comment p {
	font-size: 16px;
	line-height: 1.4;
	color: #333;
	overflow: visible; /* Отображаем весь текст без обрезки */
	display: block; /* Используем block для правильного отображения текста */
	margin-top: 20px; /* Добавляем отступ сверху текста */
}

.file input{
	resize: none;
}