


.blog-article-example {
    display: flex;
    flex-direction: column;
}

.blog-article-example img {
    width: 290px;
    height: 232px;
    border-radius: 50px; 
}

.blog-article-example p {
    color: #777E15;
    text-align: center;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
		max-width: 300px;
}

.suggessted-articles-container {
    display: flex;
    justify-content: space-between;
}

section h1 {
    color: #777E15;
    text-align: center;
    font-family: Raleway;
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 55px;
}

.articles-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.article-like-counter {
    color: #8E8D8A;
    text-align: center;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.article-sort {
    display: flex;
    justify-content: space-evenly;
    color: #E98074;
    text-align: center;
    font-family: Raleway;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}






.article-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 20px;
	border: 1px solid #777E15;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease-in-out;
	
}

.article-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.article-card > img {
	width: 100%;
	max-width: 447px;
	height: auto;
	border-radius: 10px;
	margin-bottom: 10px;
}

.article-card p {
	color: #3E4200;
	font-family: Raleway;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.5;
	margin-bottom: 10px;
}

.blog-icon {
	display: flex;
	align-items: center;
	justify-content:space-between;
	margin-bottom: 10px;
	width: 100%;
}

.blog-icon img {
	width: 30px;
	height: 30px;
	margin: 0 5px;
	
}

.article-like-counter {
	color: #777E15;
	font-family: Raleway;
	font-size: 47px;
	font-weight: 500;
	margin-bottom: 10px;
}

