.background {
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    fill: #D8C3A5;
}

.background input, button {
    color: black; 
    text-align: center;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; 
    margin: 15px 0;
}

body {
    background-image: url("background.png");
		background-repeat: no-repeat;
		background-size: cover;
}

input::placeholder, textarea::placeholder {
  color: #000 !important;
}


input[type="email"],
input[type="text"],
textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #ffffff; 
  font-size: 16px;
  font-family: Arial, sans-serif;
  box-sizing: border-box; 
	resize: vertical;
}


button.send-letter {
  font-family: Raleway;
  background-color: #c5ce4d;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.send-letter:hover {
  background-color: #4b5012;
}


form {
  width: 80%;
  max-width: 500px;
  margin: 20px auto;
  padding: 40px;
  background-color: #F7FCA8;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}


form:before,
form:after {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 2px;
  background-color: #ccc;
}

form:before {
  left: 0;
}

form:after {
  right: 0;
}


form:before,
form:after,
input[type="email"],
input[type="text"],
textarea,
button {
  border-radius: 8px;
}


input[type="email"]::placeholder,
input[type="text"]::placeholder,
textarea::placeholder {
  color: #aaa;
}

.letter-text{
	height: 142px;
}


.letter{
	width: 80%;
  max-width: 500px;
  margin: 20px auto;
  padding: 40px;
  background-color: #F7FCA8; 
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}


.letter:before,
.letter:after {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 2px;
  background-color: #ccc;
}

.letter:before {
  left: 0;
}

.letter:after {
  right: 0;
}

.letter h6{
	width: 100%;
  padding: 5px;
  color: #535907;
  border: none;
  border-bottom: 1px solid #ccc;
 
  font-size: 16px;
  font-family: Arial, sans-serif;
	
}

