form input {
    width: 200px;
    height: 30px;
    fill: #C6C6C6;
    mix-blend-mode: darken;
    border-radius: 30px;
    border-color: burlywood;
    /* background: #D8C3A5; */
    mix-blend-mode: darken;
    margin: 5px 0;
}

h1 {
    color: #777E15;
    text-align: center;
    font-family: Raleway;
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

label {
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 10px;
}





form {
  width: 300px;
  margin: 0 auto;
}

form div {
  margin-bottom: 5px;
}


label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
button {
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
	margin-top: 15px;
  background-color: #c5ce4d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

button:hover {
  background-color: #a1a84f; }