@font-face {
    font-family: Raleway;
    src: url(raleway-medium.ttf);
    font-weight: 400;
}

a {
	text-decoration: none;
}
h2{
	color:#4F5400 ;
}

html {
	background-color: #F7FCA8;
		background-image: 
		
		linear-gradient(180deg, #CBD269 0%, rgba(234, 231, 220, 0.00) 116px),
		linear-gradient(0deg, #CBD269 0%, rgba(234, 231, 220, 0.00) 116px);

		
		
		
	
}
.menu-item {

    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Raleway;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.menu-item a {
    color: #4F5400;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 275px;
		min-width: 1410px;
}



.menu {
    display: flex;
    gap: 20px;
    align-items: center;
}

.logo a {
    color: #4F5400;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Raleway;
    font-size: 41px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    text-decoration: none;
}

.user-logo {
    width: 61px;
    height: 61px;
    flex-shrink: 0;
}

main {
    margin-bottom: 106px;
}

footer {
    display: flex;
    width: 100%;
    padding: 15px 0px 3px 0px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    height: 150px;
		
}

#social-media {
    color: #4F5400;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Raleway;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

		margin-bottom: 15px;
}

footer img {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}



footer div {
    display: flex;
    gap: 27px;
		
}

#copyright {
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 15px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}

.index-container {
    column-count: 2;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
    margin: 0 auto;
    padding: 20px 0;

		width: 100%;
	
 /* margin: 0 auto; /* Центрирование контейнера */
	
}

.container {
    max-width: 1410px;
		
		margin: 0px auto
}

.main-about-me {
    max-width: 629px;
}